.bookmark {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
  line-height: 14px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  text-align: left;
  color: #bdbdbd;
  height: 26px;
}
.bookmark:hover {
  border: 1px solid #515be0;
  outline: 3px solid #e4e5ff;
}
.bookmark img {
  margin-right: 3px;
}
.bookmark.on {
  font-weight: 600;
  color: #515be0;
  border: 1px solid #515be0;
  outline: 3px solid #e4e5ff;
}
