.header {
  /* background: #666; */
  color: #000;
  display: flex;
  justify-content: space-between; /*first default*/
  align-items: center; /*secondory default*/
  padding: 8px 5vw;
  border-bottom: 1px solid #eaeaea;
}
.header h1 {
  font-size: 24px;
  margin-right: 25px;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.nav li {
  margin-right: 20px;
  transition: transform 1s ease;
}
.nav li a:hover {
  /* transform: rotate(30deg); */
  color: #0070f3;
}
.nav li a {
  text-decoration: none;
  color: #000;
}
.nav .item {
  margin-top: 5px;
}

.menu {
  display: flex;
  align-items: center;
}

.search {
  position: relative;
  margin-top: 5px;
}

.search input {
  border-radius: 15px;
  border-color: #dfdfdf;
  width: 23vw;
  min-width: 200px;
  height: 30px;
  padding: 0 18px;
  outline: none;
  outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */
  font-family: inherit;
  border: 1px solid #d3d3d3;
}
.search input::placeholder {
  color: #a3a3a3;
}
.search img {
  position: absolute;
  right: 12px;
  top: 6px;
  cursor: pointer;
}

.menu button {
  position: relative;
  height: 30px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  margin-left: 8px;
}

.menu .btn1 {
  box-sizing: border-box;
  background-color: #fff;
  font-weight: 600;
}
.menu .btn2 {
  box-sizing: border-box;
  background-color: #4a4a4a;
  color: #fff;
  border: 1px solid #4a4a4a;
}

@media screen and (max-width: 780px) {
  .header h1 {
    font-size: 18px;
    margin-right: 16px;
  }
  .nav li a {
    font-size: 15px;
  }
  .menu .btn1 {
    box-sizing: border-box;
    background-color: #4a4a4a;
    color: #fff;
    border: 1px solid #4a4a4a;
    font-weight: 500;
  }
  .menu .btn2 {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .header h1 {
    margin-right: 8px;
  }
  .nav li {
    margin-right: 15px;
  }
  .search {
    display: none;
  }
  .menu .btn1 {
    padding: 0 8px;
  }
}
