.content {
  padding: 0 3vw;
}

.content h2 {
  margin-bottom: 25px;
}

.book {
  display: flex;
  align-items: center;
  padding: 27px 0 37px;
  border-bottom: 1px solid #eaeaea;
}
.book:last-child {
  border-bottom: none;
  margin-bottom: 20px;
}

.inner_book {
  display: flex;
}

.book p {
  font-size: 14px;
  overflow: hidden;
}

.book p,
.book h3 {
  margin: 0;
}
.book h3 {
  margin-bottom: 5px;
}
.book img {
  margin-right: 26px;
  border: 1px solid #f0f0f0;
}
.book small {
  margin-left: 15px;
  color: rgb(165, 165, 165);
}

.book_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 180px;
}
.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.author {
  color: rgb(122, 122, 122);
}
.none_thumbnail {
  min-width: 110px;
  width: 110px;
  height: 160px;
  background-color: #bbbbbb;
  margin-right: 26px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.wrap_btn {
  display: flex;
  justify-content: center;
}
.more_btn {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 100px;
  font-size: 16px;
  cursor: pointer;
}
