.cont_select {
  position: relative;
  margin-right: 5px;
}

.btn_select {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 8px 5px 10px;
  font-size: 12px;
  line-height: 14px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  text-align: left;
  color: #bdbdbd;
}

.btn_select:hover,
.btn_select:focus {
  border: 1px solid #515be0;
  outline: 3px solid #e4e5ff;
}

.btn_select img {
  margin-left: 4px;
  margin-top: 2px;
}

.list_member {
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #fff;
  padding-bottom: 4px;
  z-index: 100;
}
.list_status {
  width: 110px;
}
.list_period {
  width: 75px;
}
.btn_select.on {
  font-weight: 600;
  color: #515be0;
  border: 1px solid #515be0;
  outline: 3px solid #e4e5ff;
}

.btn_select.on + .list_member {
  display: block;
}

.list_member li {
  height: 35px;
  padding: 5px 8px;
  box-sizing: border-box;
}

.list_member li button {
  width: 100%;
  padding: 7px 10px;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
}

.list_member li button:hover,
.list_member li button:focus {
  background-color: #e4e5ff;
}

@media screen and (max-width: 627px) {
  .btn_select {
    margin-bottom: 5px;
  }
}
