.content {
  /* background: skyblue; */
  padding: 10px 40px;
}
.content_top {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}
.content_top h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}
.content_top .showing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d2d2d2;
  margin: 20px 0px;
}
.showing .showing_type {
  display: flex;
  align-items: center;
}
.showing .showing_type span {
  color: #bdbdbd;
  margin-left: 6px;
}
.showing_type .clicked {
  border-bottom: 1px solid #000;
}
.showing_type .clicked span {
  color: #000;
}
.showing .showing_type button {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 10px 7px;
  cursor: pointer;
}
.filterBox {
  display: flex;
  margin: 25px 0 15px;
}

.add {
  background-color: #929dff;
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  /* margin-bottom: 5px; */
}

.content_inner {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr; /*자연스럽게 500이하의 css 값이됨*/
  grid-template-rows: auto;
  grid-gap: 20px;
}

.card {
  /* margin: 1rem; */
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  /* max-width: 300px; */
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

/*500이상일때는 2등분*/
@media screen and (min-width: 650px) {
  .content_inner {
    grid-template-columns: 1fr 1fr;
  }
  /* .card.first { */
  /*500이상일때 첫번째 아이템이 첫번째 컬럼부터 세번째 컬럼까지(2칸)사용*/
  /* grid-column: 1/3; */
  /* } */
}

/*800이상일때는 3등분*/
@media screen and (min-width: 950px) {
  .content_inner {
    grid-template-columns: 1fr 1fr 1fr;
    /*     grid-template-columns:repeat(4,1fr); */
  }
}

/*800이상일때는 4등분*/
@media screen and (min-width: 1200px) {
  .content_inner {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*     grid-template-columns:repeat(4,1fr); */
  }
}

/*responsive 혼합*/
/*    margin:auto;
  max-width:1200px;
  display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    grid-column-gap:30px;}  */
